In [1]:
import pandas as pd
import numpy as np

## Pandas Dataframe

#### 1. Read Dataframe

In [3]:
file = 'https://raw.githubusercontent.com/CJeiPeer/Pandas-Training/main/Datasets/01-DF-AnalisisSocioEco-Colombia.csv'
socioeconomic_analysis = pd.read_csv(file,sep=',')

In [5]:
socioeconomic_analysis.head(5)

,Nombre,Género,Fecha_Nacimiento,Altura,Peso,Profesión,Ciudad,Estado_Civil,Salario,Nivel_Educación,Cantidad_Hijos,Hora_Entrada,Hora_Salida,Tipo_Contrato
0,Pedro,F,1961-11-03,1.48,70.1,Chief Design Engineer,Sincelejo,Divorciado,1375615,Universitario,7,7:41 AM,10:27 PM,Término Fijo
1,María,F,1990-11-15,1.79,49.8,Administrative Assistant IV,Floridablanca,Soltero,3492939,Técnico,2,5:15 AM,6:53 PM,Indefinido
2,Diego,M,1968-07-21,1.54,100.5,Account Executive,Girón,Divorciado,5886690,Universitario,6,5:02 AM,6:42 PM,Término Fijo
3,Juan,F,1997-10-05,1.71,54.1,VP Sales,Barrancabermeja,Soltero,4282484,Posgrado,1,7:10 AM,5:40 PM,Indefinido
4,Bruno,F,1955-06-09,1.77,52.9,Clinical Specialist,Maicao,Divorciado,1495525,Posgrado,2,5:48 AM,8:56 PM,Indefinido

#### 2. Principal Components
![Dataframe Anatomy](https://raw.githubusercontent.com/CJeiPeer/Pandas-Training/main/Chapters/Chapter1-PandasFoundations/sources/01-DataframeAnatomy.png "01-DataFrameAnatomy")

> Pandas first reads the data from disk into memory and into a Dataframe using the `read_csv` function.

##### How it Works
- The labels and index: allow extract data bases on the index and column name.
- When multiple Series or Dataframes are combined, the indexes align first before any calculation.
- Columns and the index are know as the `axes`. Columns are `axis 1` and Rows are `axis 0`.
- Pandas uses [Nan (not a Number)](https://pandas.pydata.org/docs/user_guide/missing_data.html) to represent missing values. Included string values.
- Usually we have three dots ..., in the middle of the columns indicates thtat there is at least one column that exists but is not displayed du tot the number of columns exceeding the predifined display limits.
- The `head` and `tail` metods, controls the number of rows displayed.